h4, h2, h5 {
  font-family: Times, monospace;
  font-style: oblique;
}

body {
  position: center;
  align-content: center;
  background-image: url("snow.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: linen;
}

p {
  font-family: cursive;
  font-size: 14px;
}

.Head #Head-Pic {
  height: 180px;
  width: 250px;
  position: relative;
  left: -500px;
}
.Head {
  height: 200px;
  background-image: url();
  background-size: cover;
  /* 4px solid black*/;
}
.Head h1 {
  position: relative;
  right: -350px;
  bottom: -60px;
}

.city #lib {
  height: 256px;
  width: 512px;
  position: relative;
  right: -20px;
  margin: auto;
  bottom: -30px;
}
.city p{
  margin-right: 150px;
  padding-right: 10px;
  position: relative;
  right: -60px;
  font-size: 13px;
}
.city{
  height: 350px;
  /* 4px solid black*/;
}
.lang {
  /* 4px solid black*/;
}
table, tr, th, td{
  border: 1px solid black;
  border-width: thick;
  border-collapse: collapse;
}

.atp #atpImg {
  height: 250px;
  width: 370px;
  position: relative;
  right: -60px;
  margin: auto;
  bottom: 1px;
}
.atp p{
  margin-right: 150px;
  padding-right: 100px;
  position: relative;
  right: -100px;
  bottom: -50px;
}
.atp{
  height: 350px;
  /* 4px solid black*/;
}

.ct #ctImg {
  height: 250px;
  width: 370px;
  position: relative;
  right: 45px;
  margin: auto;
  bottom: 0px;
}
.ct p{
  margin-left: -50px;
  padding-left: 400px;
  position: relative;
  left: -200px;
  top: 50px;
}
.ct{
  height: 350px;
  /* 4px solid blue;*/
}

.sb #sbImg {
  height: 250px;
  width: 370px;
  position: relative;
  right: -60px;
  margin: auto;
  bottom: 1px;
}
.sb p{
  margin-right: 150px;
  padding-right: 100px;
  position: relative;
  right: -100px;
  bottom: -50px;
}
.sb{
  height: 350px;
  /* 4px solid black*/;
}

.footer p{
  margin-right: 15px;
  padding-right: 10px;
  position: relative;
  right: -510px;
  bottom: -5px;
}

.footer {
  height: 60px;
  color: black
}

.footer #twitter {
   height: 26px;
   width: 26px;
}
